$white: #fffefe;
$black-icon: #1c1c1c;
$negativ-black:#847f6e;
$negativ-white:#919191;

// font family // 
$text-family: "Nunito", sans-serif;
$title-family: "Cormorant Garamond", serif;


$secondary-color: #d9d2d2;
$accent-color: #514929;



// font size // 


//Desktop text

$desktop-p: 16px;
$desktop-p-s: 14px;

//Desktop Titlte 

$desktop-H1: 48px;
$desktop-H1-s: 32px;

$desktop-H2: 36px;
$desktop-H2-s: 24px;

$desktop-H3: 28px;
$desktop-H3-s: 20px;

$desktop-H4: 24px;
$desktop-H4-s: 18px;

$desktop-H5: 20px;
$desktop-H5-s: 16px;

$desktop-H6: 18px;
$desktop-H6-s: 14px;


//Mobile text 
$mobile-p: 14px;
$mobile-p-s: 12px;

//Mobile Title 

$mobile-H1: 32px;
$mobile-H1-s: 24px;

$mobile-H2: 28px;
$mobile-H2-s: 20px;


$mobile-H3: 24px;
$mobile-H3-s: 18px;

$mobile-H4: 20px;
$mobile-H4-s: 16px;

$mobile-H5: 18px;
$mobile-H5-s: 14px;

$mobile-H6: 16px;
$mobile-H6-s: 12px;